body{
    position:absolute;
    height : 100%;
    width : 100%;
    background: #2460A7FF;
}

#container{
    position:relative;
    display:grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(8,auto);
    grid-gap: 10px;
  
    
    height: 100%;
    width:100%;
    max-height: 800px;
    max-width: 600px;

    left: 50%;
    top: 10%;
    transform: translate(-50%);

    
}

button{
    background: #85B3D1FF;
    font-family: monospace;
    font-size: 25px;
    border-radius: 10px;
}

.commands{
    background:#D9B48FFF;
    grid-column-start: 1;
    grid-column-end: 4;
}

#display{
    border-radius: 50px;
    height: 100px;
    font-size: 50px;
    background: #B3C7D6FF;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    
}




